<h2>Add a new vinyl to your collection!</h2>
<br><br>
<form method='post' action='/vinyl_records' autocomplete="off">
    <label>Artist: </label>
    <input type='text' placeholder='Enter Artist' name='artist'>
    <br><br>
    <label>Album: </label>
    <input type='text' placeholder='Enter Album' name='album'>
    <br><br>
    <label>Genre: </label>
    <input type='text' placeholder='Enter Genre' name='genre'>
    <br><br>
    <label>Year Released: </label>
    <input type='number' min='1900' max='2020' step='1' value='2020' name='year'>
    <br><br><br>
    <input type='submit' value='Add This Vinyl'>
</form>