<h1>Log In!</h1>
<br><br>

<form method='post' action='/login' autocomplete="off">
    <label>Username: </label>
    <input type='text' placeholder='Enter Username' name='username'>
    <br>
    <label>Email: </label>
    <input type='text' placeholder='Enter Email' name='email'>
    <br>
    <label>Password: </label>
    <input type='password' placeholder='Enter Password' name='password'>
    <br><br><br>
    <input type='submit' value='Log In'>
</form>