<h1>VIRTUAL MILK CRATE</h2>
<br><br><br>
<h4>Log in to view your Vinyl Collection</h4>
<a href="/login"><button>Log In</button></a>
<br><br><br>
<h4>Sign up to start your Vinyl Collection</h4>
<a href="/signup"><button>Sign Up</button></a>