<h1>VIRTUAL MILK CRATE</h2>
    <br><br><br>
    <h4>Log in to view your Vinyl Collection</h4>
    <a href="/login">Log In</a>
    <br><br><br>
    <h4>Sign up to start your Vinyl Collection</h4>
    <a href="/signup">Sign Up</a>